body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.title{
    margin-bottom: 20px;
}

#container {
    display: grid;
    border: 1px solid #ccc;
    width: 80vmin; /* Adjust this value as needed */
    height: 80vmin; /* Adjust this value as needed */
    max-width: 100%;
}

.grid-square{
    border: 1px solid #ddd;
    background-color: #fff;
    transition: background-color 0.1s ease-in-out;
    cursor: pointer;
}

.slider{
    display: flex;
}

#resetBtn {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
  }
  
  #resetBtn:hover {
    background-color: #0056b3;
  }